
.tasksContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
}

.inputTask {
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font-size: 15px;
}

section span {
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #0f1114;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.inputContainer {
    position: relative;
    width: 80%;
    display: flex;
}

.taskItem {
    display: flex;
    width: 100%;
}

.taskItem .delete-btn {
    height: 40px;
    width: 60px;
    background-color: rgb(224, 63, 63);
    border: 0;
    color: white;
    border-radius: 5px;
}

.taskItem .edit-btn {
    height: 40px;
    width: 60px;
    border: 0;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
}